*{
    margin:0;
    padding: 0;
    font-family: "微软雅黑";
}
body{}
li{
    list-style: none;
}
h1{
    font-weight: normal;
    font-size: 16px;
    border-bottom: solid 1px #dedede;
    line-height: 36px;
}
.anser_box{
    width:1200px;
    margin:20px auto;
    border:solid 1px #dedede;
    box-sizing: border-box;
    padding: 10px 20px;
}
.anser_item p{
    line-height: 30px;
    font-size:14px;
    color: #666;
    box-sizing: border-box;
    padding-left: 15px;
}
.anser_item p span{
    color: #333;
}
.btn_right{
    text-align: right;
}